@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
/* --- global -------------------------------------------------------------- */
html,
body {
  height: 100%; /* TODO: Needed? */
}
body {
  margin: 0 24px 24px 24px;
  color: #222;
  fill: #222;
  font-family: "Patrick Hand SC";
  font-size: 21px;
}
/* --- top-header ---------------------------------------------------------- */
.top-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  padding-top: 8px;
  /* z-index: 1; */
}
.top-header * {
  display: inline;
}
.menu-button {
  padding: 0 6px;
  height: 48px;
  margin-right: 12px;
  color: currentColor;
}
.logo {
  margin-left: 24px;
  color: currentColor; /* TODO: doesn't work, because it's inline */
}
/* --- home ---------------------------------------------------------------- */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strong {
  display: block;
  font-weight: bold;
  font-size: 66px;
}
code {
  font: inherit;
  font-size: 19px;
  font-weight: bold;
}
.expand-more-button {
  display: block;
  position: absolute;
  bottom: 0;
  height: 48px;
  padding: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: currentColor;
}
/* --- navigation ---------------------------------------------------------- */
.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navigation > ul > li {
  padding: 8px 0;
}
.navigation > ul > li > a {
  color: currentColor;
  width: auto;
  font-size: 30px;
}
/* --- projects ------------------------------------------------------------ */
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid currentColor;
  margin-bottom: 21px;
  padding: 24px 24px 48px 48px;
  height: 220px; /* TODO: make same as width? */
}
.project > .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.project > .links > a {
  width: auto;
  color: currentColor;
}
.project > .links > a > svg {
  margin-left: 8px;
}
/* --- buttons ------------------------------------------------------------- */
a {
  display: block;
  text-decoration: none;
  width: 98px;
  /* width: fit-content; TODO: doesn't work in FF */
}
button {
  display: block;
  background: transparent; /* TODO: make white? */
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.hand-drawn-button {
  padding: 8px 16px;
  align-self: center;
  color: currentColor;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 7px 7px 0 currentColor;
  border: solid 6px currentColor;
  margin: 40px auto;
}
.hand-drawn-button:active {
  box-shadow: 3px 3px 0 #222;
  transform: translate(4px, 4px);
}
/* --- footer -------------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
}
.footer > small {
  font-size: 19px;
  margin-bottom: 8px;
}
/* --- darkmode ------------------------------------------------------------ */
.darkmode {
  background-color: #222;
  color: #fff;
  opacity: 0.87; /* recommended in https://uxplanet.org/8-tips-for-dark-theme-design-8dfc2f8f7ab6 */
}
.darkmode > .top-header {
  background-color: #222;
}
/* --- todo ---------------------------------------------------------------- */
.hidden {
  display: none;
}
/* --- testing ------------------------------------------------------------- */
.top-header {
  /* border-bottom: 1px solid currentColor; */
}
